@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.anibtn{
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.anibtn::after{
  background: rgb(17, 17, 17);
  position: absolute;
  content: " ";
  height: 150%;
  scale: 1.5;
  width: 120%;
  top:140%;
  left: -10%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 60%;
}
.anibtn:hover::after{
transform: translatey(-50%);
}

@font-face {
  font-family: founder;
  src: url(/FoundersGrotesk-Semibold\ \(1\).ttf);
}
.footerdiv{
  font-family: founder; 
}

.link-a .link-1{
  height:1px;
  width: 100%;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateX(-100%);
}
.link-b{
  height:1px;
  width: 100%;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateX(0%);
}

.link-2{
  height:1px;
  width: 100%;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateX(-100%);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
